.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: none;
    border-bottom: 3px solid #2196F3;
    /* border-bottom-color: transparent; */
}

.nav-tabs>li>a:hover {
    /* border-bottom: 3px solid #2196F3; */
    border-color: #fff
}

.nav>li>a:focus,
.nav>li>a:hover {
    /* border-bottom: 3px solid #2196F3; */
    text-decoration: none;
    background-color: #fff;
}

.details_table {
    margin-top: 20px;
}

.nav>li {
    position: relative;
    display: block;
}

.active_msg {
    position: absolute;
    background: red;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
    right: 1px;
    font-size: 12px;
    top: -2px;
}
.panel-body {
    padding: 0px !important;
}
ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    margin: 0px;
    padding: 0px;
}
ul li{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.abnormal_list ul li{
    float: left;
    width: 50%;
    text-align: center;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
}
.abnormal_list ul li p{
    font-size: 16px;
    margin-bottom: 10px;
    color: #4f4f4f;
}
.abnormal_list ul li b{
    font-size: 20px;
    color: #4f4f4f;
}
.mainboard_list ul li{
    float: left;
    width: 20%;
    text-align: center;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: 20px 0;
}
.mainboard_list ul li p{
    font-size: 16px;
    margin-bottom: 10px;
    color: #4f4f4f;
}
.mainboard_list ul li b{
    font-size: 20px;
    color: #4f4f4f;
}
.panel-default>.panel-heading {
    color: #677ca1;
    background-color: #ffffff;
    border-color: #fff;
}
.panel-default {
    border-color: #ddd;
    border-bottom: none;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-weight: 600;
}
.panel-group .panel {
    margin-bottom: 25px;
    border-radius: 4px;
}
.right_iconpull{
    float: right;
}